.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .footer__list {
    width: 100%;
    align-items: flex-start;
  }
}
