.ai-animation-circle {
  width: 74px;
  height: 74px;
  padding: 0;
  margin: 0 0 18px 0;
  border-radius: 50%;
  transition: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(60deg);
    animation-timing-function: ease-in-out;
  }
  10% {
    transform: rotate(30deg);
    animation-timing-function: ease-out;
  }
  15% {
    transform: rotate(120deg);
    animation-timing-function: ease-in-out;
  }
  20% {
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }
  25% {
    transform: rotate(210deg);
    animation-timing-function: ease-in;
  }
  30% {
    transform: rotate(240deg);
    animation-timing-function: ease-out;
  }
  35% {
    transform: rotate(270deg);
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(300deg);
    animation-timing-function: ease-in;
  }
  45% {
    transform: rotate(330deg);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: rotate(360deg);
    animation-timing-function: ease-out;
  }
  55% {
    transform: rotate(360deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: rotate(180deg);
    animation-timing-function: ease-in-out;
  }
  65% {
    transform: rotate(30deg);
    animation-timing-function: ease-in;
  }
  70% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(60deg);
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(90deg);
    animation-timing-function: ease-in;
  }
  85% {
    transform: rotate(150deg);
    animation-timing-function: ease-in-out;
  }
  90% {
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }
  95% {
    transform: rotate(210deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: ease-in;
  }
}

@keyframes fill {
  0% {
    stroke-dashoffset: 565.48;
  }
  10% {
    stroke-dashoffset: 452.384;
  }
  20% {
    stroke-dashoffset: 452.384;
  }
  30% {
    stroke-dashoffset: 339.289;
  }
  40% {
    stroke-dashoffset: 339.289;
  }
  45% {
    stroke-dashoffset: 282.74;
  }
  55% {
    stroke-dashoffset: 282.74;
  }
  70% {
    stroke-dashoffset: 169.644;
  }
}
