.btn-logged-out {
  min-width: 112px;
  max-width: 112px;
  height: 48px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin: 0;
  padding: 8px;
}

.btn-logged-out:focus {
  outline: none;
}

@media (max-width: 768px) {
  .btn-logged-out {
    font-size: 16px;
    line-height: 20px;
    height: 40px;
  }
}

@media (max-width: 584px) {
  .btn-logged-out {
    padding: 8px 4px;
  }
}
