.btn-search-form {
  width: 168px;
  height: 64px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: #2f71e5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 5px 15px 0px rgba(14, 26, 57, 0.2);
  position: absolute;
  top: 0;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    font-size 0.3s ease-in-out;
}

.btn-search-form:hover {
  background: #347eff;
  box-shadow: 0px 5px 15px 0px rgba(14, 26, 57, 0.2);
}

.btn-search-form:active {
  background: #2a65cc;
  box-shadow: 0px 5px 15px 0px rgba(14, 26, 57, 0.2);
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .btn-search-form {
    font-size: 18px;
    width: 160px;
    height: 56px;
  }
}

@media (max-width: 584px) {
  * {
    transition: 0.3s ease-in-out;
  }

  .btn-search-form {
    position: static;
    width: 288px;
  }
}
