.navigation__home-vector {
  width: 68px;
  height: 3px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }

  .navigation__home-vector {
    bottom: -10px;
  }
}

@media (max-width: 584px) {
  * {
    transition: 0.3s ease-in-out;
  }

  .navigation__home-vector {
    width: 56px;
    bottom: -12px;
  }
}
