.header__img {
  width: 100%;
  height: 576px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .header__img {
    height: 400px;
  }
}

@media (max-width: 584px) {
  .header__img {
    height: 556px;
  }
}
