.footer__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 30px 104px 26px;
}

@media (max-width: 968px) {
  .footer__container {
    padding: 21px 40px 19px;
  }
}

@media (max-width: 768px) {
  .footer__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 36px;
  }
}

@media (max-width: 648px) {
  .footer__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 21px 16px 19px;
  }
}
