.navigation__lang-dropdown_theme_dark {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: rgba(26, 27, 34, 0.5);
  cursor: pointer;
  align-self: last baseline;
  outline: none;
  margin: 0;
  padding: 0;
}

.navigation__lang-dropdown_theme_dark option {
  color: #ffffff;
  background-color: rgba(26, 27, 34, 0.5);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}
