.view-news-header__url-to-img-container {
  width: 400px;
  height: 272px;
  margin: 0;
  padding: 0;
  position: relative;
}

@media (max-width: 768px) {
  .view-news-header__url-to-img-container {
    width: 288px;
    height: 196px;
  }
}
