.saved-news-header__heading {
  max-width: 530px;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
  padding: 0 0 30px;
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .saved-news-header__heading {
    max-width: 336px;
    font-size: 30px;
    line-height: 34px;
    padding-bottom: 16px;
  }
}

@media (max-width: 584px) {
  * {
    transition: 0.3s ease-in-out;
  }

  .saved-news-header__heading {
    max-width: 288px;
    padding-bottom: 50px;
  }
}
