.about__paragrafh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .about__paragrafh {
    gap: 16px;
  }
}
