.filter-panel__clear-filters {
  display: flex;
  justify-content: center;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #1a1b2280;
  cursor: pointer;
  margin: 0;
  padding: 22px 0 0;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.filter-panel__clear-filters:hover {
  color: #1a1b22;
}
