.preload__heading-animation {
  font-family: "Roboto Slab", Arial, sans-serif;
  color: #b6bcbf;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0 0 12px 0;
}
