.view-news-header__visit-source-link {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(26, 27, 34, 0.5);
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.view-news-header__visit-source-link:hover {
  color: #1a1b22;
}
