.navigation__lang-dropdown {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: #bcbcbf;
  cursor: pointer;
  outline: none;
  margin: 0;
  padding: 0;
}

.navigation__lang-dropdown option {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(26, 27, 34, 0.5);
}

@media (max-width: 768px) {
  .navigation__lang-dropdown {
    font-size: 16px;
  }
}
