.img-popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 484px) {
  .img-popup__container {
    top: 32%;
  }
}
