.view-news-article-overviews__lang-dropdown {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #bcbcbf;
  cursor: pointer;
  outline: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.view-news-article-overviews__lang-dropdown option {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  background-color: #1a1b2280;
  color: #ffffff;
}

@media (max-width: 768px) {
  .view-news-article-overviews__lang-dropdown {
    font-size: 18px;
  }
}
