.news-card__published-at {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0 0 12px;
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .news-card__published-at {
    padding-bottom: 14px;
  }
}

@media (max-width: 584px) {
  * {
    transition: 0.3s ease-in-out;
  }

  .news-card__published-at {
    padding-bottom: 10px;
  }
}
