.navigation__content {
  max-width: 366px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 32px;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .navigation__content {
    gap: 16px;
  }
}

@media (max-width: 584px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .navigation__content {
    width: 288px;
    gap: 4px;
  }
}
