.btn-popup-submit_disabled {
  background-color: #e6e8eb;
  cursor: default;
  color: #b6bcbf;
  border-bottom: none rgba(0, 0, 0, 0.2);
}

.btn-popup-submit_disabled:hover {
  transition: 0.3s ease-in-out;
  opacity: 1;
}
