.navigation__branding {
  max-width: 268px;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  gap: 60px;
  margin: 0;
  padding: 0;
}

@media (max-width: 868px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .navigation__branding {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .navigation__branding {
    gap: 28px;
  }
}

@media (max-width: 658px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .navigation__branding {
    gap: 19px;
  }
}
