.saved-news-header__query {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0;
  padding: 0;
  transition: 0.3s ease-in-out;
}

@media (max-width: 584px) {
  * {
    transition: 0.3s ease-in-out;
  }

  .saved-news-header__query {
    max-width: 288px;
  }
}
