.btn-scroll-top {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

@media (max-width: 968px) {
  .btn-scroll-top {
    bottom: 20px;
  }
}
