.about__text {
  display: inline-table;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .about__text {
    display: block;
  }
}
