.view-news-article-overview__title {
  width: 100%;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0;
  padding: 0 0 10px;
  cursor: default;
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .view-news-article-overview__title {
    font-size: 22px;
    line-height: 24px;
  }
}
