.infoToolTip__signin_or_retry-text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #2f71e5;
  margin: 0;
  padding: 14px 0 0;
  cursor: pointer;
  text-align: left;
}
