.btn-show-more {
  width: 288px;
  height: 64px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: 0.3s ease-in-out;
  align-self: center;
}

.btn-show-more:hover {
  background: #e8e8e8;
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .btn-show-more {
    width: 240px;
    height: 56px;
  }
}
